
@{
    ViewBag.Title = "Your Listings & Orders";
}

<main aria-labelledby="title">
    <h2>Your Listings</h2>
    <div class="container mt-4">
        <div class="d-flex overflow-auto pb-3">
            <div class="col-md-3 mb-4">
                <div class="card h-100 p-3">
                    <div class="card-body">
                        <h5 class="card-title">Calculus Textbook</h5>
                    </div>

                    <img src="https://picsum.photos/300/200"
                         class="card-img-top"
                         alt="Listing Image">

                    <div class="card-body">
                        <p class="card-text">$45.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100 p-3">
                    <div class="card-body">
                        <h5 class="card-title">Calculus Textbook</h5>
                    </div>

                    <img src="https://picsum.photos/300/200"
                         class="card-img-top"
                         alt="Listing Image">

                    <div class="card-body">
                        <p class="card-text">$45.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100 p-3">
                    <div class="card-body">
                        <h5 class="card-title">Calculus Textbook</h5>
                    </div>

                    <img src="https://picsum.photos/300/200"
                         class="card-img-top"
                         alt="Listing Image">

                    <div class="card-body">
                        <p class="card-text">$45.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100 p-3">
                    <div class="card-body">
                        <h5 class="card-title">Calculus Textbook</h5>
                    </div>

                    <img src="https://picsum.photos/300/200"
                         class="card-img-top"
                         alt="Listing Image">

                    <div class="card-body">
                        <p class="card-text">$45.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100 p-3">
                    <div class="card-body">
                        <h5 class="card-title">Calculus Textbook</h5>
                    </div>

                    <img src="https://picsum.photos/300/200"
                         class="card-img-top"
                         alt="Listing Image">

                    <div class="card-body">
                        <p class="card-text">$45.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h2>Your Orders</h2>
    <div class="container mt-4">
        <div class="d-flex overflow-auto pb-3">
            <div class="col-md-3 mb-4">
                <div class="card h-100 p-3">
                    <div class="card-body">
                        <h5 class="card-title">Calculus Textbook</h5>
                    </div>

                    <img src="https://picsum.photos/300/200"
                         class="card-img-top"
                         alt="Listing Image">

                    <div class="card-body">
                        <p class="card-text">$45.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>